:root {
    --generalColorBlack: rgba(0, 0, 0, 0.898);
    --generalFontFamily: sans-serif;
    --generalColorDarkYellow: rgba(246, 197, 105, 0.844);
    --generalColorWhite: white;
    --follow: 'Բաժանորդագրվեք Մեր Instagram-ի և Facebook-ի էջերին'
}

img {
    display: block;
    vertical-align: bottom;
    box-shadow: 2px 5px 5px var(--generalColorBlack);
}

body {
    overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
span,
p,
div,
article,
aside,
nav,
footer,
ul,
li,
button {
    font-family: var(--generalFontFamily);
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
span,
p {
    letter-spacing: 1px;
    word-spacing: 5px;
}

a {
    display: block;
    text-decoration: none;
    color: var(--generalColorWhite);
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 0;
    width: 100vw;
    height: auto;
    background: var(--generalColorBlack);
}

.Header_Logo {
    animation: zoom 1s infinite alternate;
    background-image: url("https://scontent.fevn12-1.fna.fbcdn.net/v/t1.6435-9/185119948_104324975171180_7413968250565836207_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Vz9XqJVbOQ0AX_n4muE&_nc_ht=scontent.fevn12-1.fna&oh=00_AfA-LtHer0VcpzsyncYEDsdmcuZ0VjxkNHvVfq2j0KQ0Mg&oe=63F5F83B");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.Header_Links {
    display: flex;
    text-align: center;
    width: auto;
    height: auto;
}

.Header_Links a {
    margin-left: 2vw;
    font-family: var(--generalFontFamily);
    font-size: 20px;
}

.Content {
   
}

.Contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20vw;
    height: auto;
}

.Social_Networks {
    display: flex;
}

.Social_Networks img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.Social_Networks a {
    animation: zoom 1s infinite alternate;
    margin-left: 30px;
}


.Phone {
    text-align: center;
    font-size: 30px;
    margin-top: 3vh;
    color: var(--generalColorWhite);
    animation: phoneAnimation 2s infinite;
}

.Delivery {
    animation: zoom 1s infinite alternate;
}

aside {
    flex-grow: 1;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Aside_Left {
    background-image: url("https://scontent.fevn12-1.fna.fbcdn.net/v/t39.30808-6/244274618_185021247101552_1540966308812461334_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vts-YXOvg5kAX-LycV2&_nc_ht=scontent.fevn12-1.fna&oh=00_AfDdfFPlH2yogV24H6ktmlSUkgbPPy7xIcp2I92T-XMIrQ&oe=63D43F85");
}

.Aside_Right {
    background-image: url("https://scontent.fevn12-1.fna.fbcdn.net/v/t39.30808-6/244274618_185021247101552_1540966308812461334_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vts-YXOvg5kAX-LycV2&_nc_ht=scontent.fevn12-1.fna&oh=00_AfDdfFPlH2yogV24H6ktmlSUkgbPPy7xIcp2I92T-XMIrQ&oe=63D43F85");
}

main {
    flex-grow: 2;
    max-width: 60vw;
    height: 100vh;
    background: var(--generalColorDarkYellow);
}

.Content {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: auto;
    padding: 20px 0;
    background: var(--generalColorBlack);
}

.BingoBistroAnimate {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 5vh;
    color: var(--generalColorDarkYellow);
}

.Foods {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 60vw;
    max-height: 90vh;
    margin: auto;
}

.Food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    text-align: center;
    margin-left: 2vw;
    margin-top: 5vh;
    cursor: pointer;
}

.Food h2:nth-of-type(2) {
    padding: 1vw;
    border-radius: 5px;
    max-width: max-content;
}

.Price {
    background: var(--generalColorBlack);
    color: var(--generalColorDarkYellow);
    margin-top: 10px;
    font-size: 30px;
}

.Food img {
    border-radius: 5px;
    width: 270px;
    height: 270px;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.active {
    color: var(--generalColorDarkYellow);
}


@keyframes phoneAnimation {
    from {
        color: var(--generalColorWhite);
    }
    to {
        color: var(--generalColorDarkYellow);
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.About {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.Foods::-webkit-scrollbar {
    width: 14px;
}

.Foods::-webkit-scrollbar-track {
    background: var(--generalColorDarkYellow);
}

.Foods::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--generalColorBlack);
}

html::-webkit-scrollbar {
    width: 14px;
}

html::-webkit-scrollbar-track {
    background: var(--generalColorBlack);
}

html::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 20px;
    background: var(--generalColorDarkYellow);
}

@media screen and (max-width: 1024) {
    .BingoBistroAnimate span{
        font-size: 20px;
    }
}

@media screen and (max-width: 680px) {
    .Header_Logo {
        width: 100px;
        height: 100px;
    }
     main {
        display: block;
        max-width: 50vw;
    }
    .Header_Links {
        flex-direction: column;
    } 
    
    .Header_Links a{
        text-decoration: none;
        margin-top: 10px;
    } 

    .Food{
        margin-bottom:  10vh;
    }

    .BingoBistroAnimate {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Social_Networks img {
        width: 40px;
        height: 40px;
    }

    .Social_Networks::after {
        content: var(--follow);
        color: var(--generalColorWhite);
        font-size: 18px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    .Header_Logo {
        width: 100px;
        height: 100px;
    }

    .Header_Links {
        margin-top: 20px;
        flex-direction: column;
    }

    .Header_Links a{
        margin-top: 10px;
    }

    .BingoBistroAnimate {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        display: none;
    }
 
    main {
        display: block;
        max-width: 100vw;
    }

    .Foods {
        max-width: 100vw;
    }

    .Food{
        margin-bottom:  10vh;
    }

    .Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Social_Networks img {
        width: 40px;
        height: 40px;
    }

    .Social_Networks::after {
        content: var(--follow);
        color: var(--generalColorWhite);
        font-size: 16px;
        margin-left: 20px;
    }

    a:hover {
        text-decoration: none;
    }
}



